*__pycache__
__pycache__
.DS_Store
dist/
logs/
bin
develop-eggs
downloads
eggs
parts
*.egg-info
lib
lib64
build/
*.pyo
*.pyc
.vscode/
.vscode

logs
logs_big_5aug
logs_small_4aug
logs_unet
models
models_big_5aug
models_small_4aug
models_unet
preds
preds_big_5aug
preds_small_4aug
preds_unet
frames

train_vit_unetscript.py
train_seg_vit.py